body{
    background-image:url('lap.jpg');
    background-size:cover;
}
.login-form{
    position:absolute;
     top:30%;
     left:50%;
     transform:translate(-50%, -50%);
    max-width:500px;
    margin:30px auto;
    padding:20px;
}
.login-form h1{
     font-size:30px;
     text-align:center;
     color:#900C3F;
}
.login-form .text{
    font-size:20px;
    padding:10px 10px;
    width:100%;
   border-radius:10px;
}
.login-form button{
    padding:10px 10px;
    width:100%;
    background-color:#008B8B;
    border-radius:10px;
    text-transform:uppercase;
}
